<table class="table table-striped">
  <% @comments.each do |comment| %>

    <tr>
      <td>
        <div class="media">
          <a class="pull-left" href="#">
            <%= image_tag comment.user.image_url(:comment).to_s, class: "media-object" %>
          </a>
          <div class="media-body">
             <h5 class="media-heading">
              <%= link_to comment.user.name, comment.user %>
            </h5>
           
              <%= comment.content.html_safe %>
            <div class="media">
            </div>
          </div>
        </div>

        <div class="pull-left">
          <% if can? :manage, comment %>
            <%= link_to "Edit", [:edit, @commentable, comment] %>
          <% end %>
        </div>
    </td>
  </tr>
  
  <% end %>
</table>
