<div class="container">
  <% @products.each do |product| %>
      <div class="span3">


      <%= link_to (image_tag product.image_url(:thumb).to_s), product, :class=> 'thumbnail' %>

      <div class="row">
        <p class="text-center"><%= link_to product.name, product %></p>
      </div>

    </div>
  <% end %>
</div>
